/*Carousel Styles*/
@font-face {
	font-family: "metro-bold";
	src: url("../../font/Metropolis/Metropolis-Bold.otf");
}
.metro-bold {
	font-family: "metro-bold";
}
.carouselcaption {
	font-family: "metro-bold";
	line-height: 70px;
}
.carouselcaption-head {
	font-size: xx-large;
}
@media (max-width: 500px) {
	.h1,
	h1 {
		font-size: 1.3em;
	}
	.h3,
	h3 {
		font-size: 1em;
	}
	.carouselcaption {
		line-height: 1;
		padding-bottom: 1.1rem !important;
	}
	.carouselcaption-head {
		font-size: 12px;
	}
	.navbar-brand {
		font-size: 1.1rem !important;
	}
	.footer {
		font-size: 0.8rem !important;
	}
}
@media (min-width: 768px) {
	.carousel-container {
		max-height: 520px;
	}
	.w {
		width: 50%;
	}
}
@media (max-width: 472px) {
	#home {
		line-height: 16px;
	}
}

/*Why Choose Us Styles*/

#why {
	max-width: 70%;
}
#reasons {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.reason {
	border-radius: 15px;
	height: fit-content;
}
@media (min-width: 768px) {
	.reason {
		max-width: 45%;
		height: 300px;
	}
	#reasons {
		max-width: 90%;
	}
}

.cursor-unset {
	cursor: unset;
}
.mn {
	margin-top: -50px;
}

/*Poutry Display*/
/* @media (max-width: 768px) {
	.poultry-carousel {
		height: 400px;
	}
}*/
@media (min-width: 768px) {
	.poultry-carousel {
		max-height: 500px;
	}
}

/*Services*/
.service {
	width: 320px;
	height: 550px;
	border-radius: 10px;
}
.service-img {
	height: 55%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.service-heading {
	background-color: lightgray;
	padding: 10px 20px;
	font-size: 18px !important;
	text-align: initial !important;
}

.service-text {
	text-align: initial !important;
	margin: auto;
}

/*Appointment Styles*/
.select {
	width: -webkit-fill-available;
	color: grey;
}

.contact-form {
	margin: auto;
	border-radius: 30px;
	border: 2px solid lightgrey;
}

/* @media (min-width: 576px) {
	.contact-form {
		max-width: 80%;
	}
}
@media (min-width: 992px) {
	.contact-form {
		width: 50%;
	}
}
 */
