.admin-nav {
	position: fixed;
	left: 0;
	height: 100%;
	width: 18%;
	min-width: 150px;
}
.admin-nav .active {
	color: white !important;
	border-bottom: 2px solid white !important;
}
.admin {
	margin-left: 24%;
}

.product-nav .active {
	border-bottom: 2px solid blue !important;
}
